### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchases_df = pd.read_csv(purchase_data)
purchases_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Display the total number of players
unique_player_df = purchases_df["SN"].nunique()

total_players_df = purchases_df["SN"].unique()
total_players_df
total_players=len(total_players_df)
print("The total number of players: 576")

The total number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [3]:
# Calculate the number of unique items 
unique_items = len(purchases_df["Item Name"].unique())

In [4]:
# Determine the average purchase price
average_price = purchases_df["Price"].mean()

In [5]:
# Determine total number of purchases 
total_purchases = len(purchases_df["Purchase ID"].unique())

In [6]:
# Determine Total Revenue
total_revenue = purchases_df["Price"].sum()

In [7]:
# Place all of the data found into a summary DataFrame
summary_table = pd.DataFrame({"Total Unique Items": unique_items,
                              "Average Purchase Price": [average_price],
                              "Total Number of Purchases": [total_purchases],
                              "Determine Total Revenue": [total_revenue]})
summary_table

,Total Unique Items,Average Purchase Price,Total Number of Purchases,Determine Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

In [8]:
gender_demographics = purchases_df["Gender"].unique()
gender_demographics

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [9]:
# Group the players by their screen names and genders
gender_group_df = purchases_df.groupby("Gender")["SN"].unique()

In [10]:
# Determine the count of female players
female_count=len(gender_group_df[0])

In [11]:
# Determine the percentage of female players
female_perc=female_count/len(total_players_df)*100

In [12]:
# Determine the count of male players
male_count=len(gender_group_df[1])

In [13]:
# Determine the percentage of male players
male_perc=male_count/len(total_players_df)*100

In [14]:
# Determine the count of Other / Non-Disclosed
other_count=len(gender_group_df[2])

In [15]:
# Determine the percentage of Other / Non-Disclosed, using [2]
other_perc=other_count/len(total_players_df)*100

In [16]:
# Place all of the data found into a summary DataFrame
summary_table = pd.DataFrame({"Total # of Female Players": female_count,
                              "% of Female Players": [female_perc],
                              "Total # of Male Players": [male_count],
                              "% of Male Players": [male_perc],
                              "Total of Other Gender Players": [other_count],
                              "% of Other Gender Players": [other_perc]})
summary_table

,Total # of Female Players,% of Female Players,Total # of Male Players,% of Male Players,Total of Other Gender Players,% of Other Gender Players
0,81,14.0625,484,84.027778,11,1.909722

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
total_players_df = pd.DataFrame([unique_player_df],columns =["Total Players"])
total_players_df

   Total Players
0            576

In [18]:
purchasing_analysis_df = pd.DataFrame()
gender_purch_group_df = purchases_df.groupby(['Gender'])['Price']
purchasing_analysis_df['Purchase Count'] = gender_purch_group_df.size()
purchasing_analysis_df['Average Purchase Price'] = gender_purch_group_df.mean().round(2).map("${:,.2f}".format)
purchasing_analysis_df['Total Purchase Value'] = gender_purch_group_df.sum().map("${:,.2f}".format)
unique_df = purchases_df.groupby(['SN', 'Gender'])['Price'].sum()
unique_df = unique_df.reset_index()
purchasing_analysis_df['Avg Total Purchase Per Person'] = unique_df.groupby(['Gender'])['Price'].mean().map("${:,.2f}".format)

purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [19]:
### Age Demographics
# Create the bins in which Data will be held

age_range_bin = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19","20-24","25-29", "30-34", "34-39", "40+"]

pd.options.display.float_format = '{:,.2f}'.format
group_bin_df = purchases_df
group_bin_df.head()

group_bin_df['Age_range'] = pd.cut(group_bin_df['Age'], age_range_bin, labels=group_names)
group_bin_df.head()

df = pd.DataFrame()
df['Total_Count'] = group_bin_df.groupby(['Age_range'])['Age'].count()
df['Percentage of Players']= df['Total_Count']*100/total_players
df.head()

           Total_Count  Percentage of Players
Age_range
<10                 23                   3.99
10-14               28                   4.86
15-19              136                  23.61
20-24              365                  63.37
25-29              101                  17.53

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
# Creating a group based off of the bins obtain purchase count and  
# avg. purchase price, avg. purchase total per person etc

purchasing_analysis_df = pd.DataFrame()
group_bin_df['Age_range'] = pd.cut(group_bin_df['Age'], age_range_bin, labels=group_names)
gender_purch_group_df = purchases_df.groupby(['Gender'])['Price']
purchasing_analysis_df['Purchase Count'] = gender_purch_group_df.size()
purchasing_analysis_df['Average Purchase Price'] = gender_purch_group_df.mean().round(2).map("${:,.2f}".format)
purchasing_analysis_df['Total Purchase Value'] = gender_purch_group_df.sum().map("${:,.2f}".format)
unique_df = purchases_df.groupby(['SN', 'Gender'])['Price'].sum()
unique_df = unique_df.reset_index()
purchasing_analysis_df['Avg Total Purchase Per Person'] = unique_df.groupby(['Gender'])['Price'].mean().map("${:,.2f}".format)

purchasing_analysis_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [60]:
top_spenders_df = pd.DataFrame()
screen_spenders_df = purchases_df.groupby(['SN'])['Price']
top_spenders_df['Purchase Count'] = screen_spenders_df.size()
top_spenders_df['Average Purchase Price'] = screen_spenders_df.mean().round(2)
top_spenders_df['Total Purchase Value'] = screen_spenders_df.sum()
top_spenders_df = top_spenders_df.sort_values(by='Total Purchase Value', ascending=False)

top_spenders_df.head(10)

                Purchase Count  Average Purchase Price  Total Purchase Value
SN
Dyally87                     1                    4.99                  4.99
Hiasri33                     1                    4.99                  4.99
Chanirrasta87                1                    4.94                  4.94
Yarithsurgue62               1                    4.94                  4.94
Lirtilsa71                   1                    4.94                  4.94
Lassilsala30                 1                    4.94                  4.94
Ririp86                      1                    4.94                  4.94
Strithenu87                  1                    4.93                  4.93
Smaistysu35                  1                    4.93                  4.93
Chadjask77                   1                    4.93                  4.93

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
pop_items_df = pd.DataFrame()
item_id_df = purchases_df.groupby(['Item ID','Item Name'])['Price']
pop_items_df['Purchase Count'] = item_id_df.mean().round(2)
pop_items_df['Total Purchase Value'] = item_id_df.sum()
pop_items_df = pop_items_df.sort_values(by='Purchase Count', ascending=False)

pop_items_df.head(10)

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
63,Stormfury Mace,4.99,9.98
139,"Mercy, Katana of Dismay",4.94,24.70
147,"Hellreaver, Heirloom of Inception",4.93,14.79
173,Stormfury Longsword,4.93,9.86
128,"Blazeguard, Reach of Eternity",4.91,19.64
82,Nirvana,4.90,34.30
111,Misery's End,4.89,9.78
92,Final Critic,4.88,19.52
165,Bone Crushing Silver Skewer,4.86,14.58
52,Hatred,4.84,4.84

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [59]:
pop_items_df = pd.DataFrame()
item_id_df = purchases_df.groupby(['Item ID','Item Name'])['Price']
pop_items_df['Purchase Count'] = item_id_df.mean().round(2)
pop_items_df['Total Purchase Value'] = item_id_df.sum()
pop_items_df = pop_items_df.sort_values(by='Total Purchase Value', ascending=False)

pop_items_df.head(10)

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,46.53
82,Nirvana,4.90,34.30
145,Fiery Glass Crusader,4.58,32.06
59,"Lightning, Etcher of the King",4.23,25.38
37,"Shadow Strike, Glory of Ending Hope",3.16,25.28
139,"Mercy, Katana of Dismay",4.94,24.70
179,"Wolf, Promise of the Moonwalker",4.48,22.40
78,"Glimmer, Ender of the Moon",4.40,22.00
160,Azurewrath,4.40,22.00
25,Hero Cane,4.35,21.75